<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Albert Sroder - About me</title>

    <link
      href="https://fonts.googleapis.com/css?family=Josefin+Slab:400,600&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="container">
          <div class="navbar-container">
            <div class="navbar-left">
              <a href="../index.html">
                Albert Sroder
                <span>UI Artist & UX Designer</span>
              </a>
            </div>
            <div class="navbar-right">
              <ul class="navbar-list">
                <li><a href="../index.html">Portfolio</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./contact.html">Contact</a></li>
                <li>
                  <a href="http://www.linkedin.com/in/albert-sroder"
                    ><i class="fab fa-linkedin"></i
                  ></a>
                </li>
                <li>
                  <a href="mailto:albert.sroder@gmail.com"
                    ><i class="fas fa-envelope"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <section class="page-main-title">
        <h1>About Me</h1>
        <article>
          <div class="container">
            <div class="about-content">
              <div class="about-left">
                <img
                  src="../assets/img/albert-sroder.png"
                  alt="Albert Sroder"
                />
              </div>
              <div class="about-right">
                <div class="about-title">Albert Sroder</div>
                <hr />
                <div class="about-description">
                  I am a UI Artist, UI Designer and a UX Designer. I began my
                  career by making advertising websites and banners, but
                  searched for any opportunity to get into the gaming Industry.
                  After I found a way in, I started by working on simple web
                  games until I got the opportunity to work on mobile games.
                  Soon I became the main artist on a 6-month long mobile game
                  project which currently has over 1 million downloads. Then,
                  life took a turn, I moved to the UK and I have been working on
                  a mobile AR social game and other small VR projects.
                </div>
                <div class="about-link">
                  <a href="www.linkedin.com/in/albert-sroder"
                    >www.linkedin.com/in/albert-sroder</a
                  >
                </div>
              </div>
            </div>
            <div class="download-button">
              <div>
                <a href="../assets/albert-sroder-cv.pdf" download
                  >Download CV</a
                >
              </div>
            </div>
          </div>
        </article>
      </section>
    </main>

    <footer>
      <div class="footer">
        <div class="container">
          <div class="footer-text">
            Albert Sroder <span>UI Artist & UX Designer</span>
          </div>
          <div class="footer-social">
            <a href="http://www.linkedin.com/in/albert-sroder"
              ><i class="fab fa-linkedin"></i
            ></a>
            <a href="mailto:albert.sroder@gmail.com"
              ><i class="fas fa-envelope"></i
            ></a>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://kit.fontawesome.com/df0fcd7b4c.js"></script>
  </body>
</html>
