<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Albert Sroder - Contact me</title>

    <link
      href="https://fonts.googleapis.com/css?family=Josefin+Slab:400,600&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="container">
          <div class="navbar-container">
            <div class="navbar-left">
              <a href="../index.html">
                Albert Sroder
                <span>UI Artist & UX Designer</span>
              </a>
            </div>
            <div class="navbar-right">
              <div class="mobile-menu">
                <i class="fas fa-bars"></i>
              </div>
              <ul class="navbar-list">
                <li><a href="../index.html">Portfolio</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./contact.html">Contact</a></li>
                <li>
                  <a href="http://www.linkedin.com/in/albert-sroder"
                    ><i class="fab fa-linkedin"></i
                  ></a>
                </li>
                <li>
                  <a href="mailto:albert.sroder@gmail.com"
                    ><i class="fas fa-envelope"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <section class="page-main-title">
        <h1>Contact</h1>
        <article>
          <div class="container">
            <div class="contact-row">
              <div class="contact-icon">
                <i class="fas fa-phone-alt"></i>
              </div>
              <div class="contact-txt">
                <a href="tel:+447984873390">079 848 73390</a>
              </div>
            </div>
            <hr />
            <div class="contact-row">
              <div class="contact-icon">
                <i class="fab fa-linkedin"></i>
              </div>
              <div class="contact-txt">
                <a href="https://www.linkedin.com/in/albert-sroder/"
                  >www.linkedin.com/in/albert-sroder/</a
                >
              </div>
            </div>
            <hr />
            <div class="contact-row">
              <div class="contact-icon">
                <i class="fas fa-envelope"></i>
              </div>
              <div class="contact-txt">
                <a href="mailto:albert.sroder@gmail.com"
                  >albert.sroder@gmail.com</a
                >
              </div>
            </div>
            <hr />
          </div>
        </article>
      </section>
    </main>

    <script src="https://kit.fontawesome.com/df0fcd7b4c.js"></script>
    <script src="../js/index.js"></script>
  </body>
</html>
